body{
    background-color:#F8F8FB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container{
    background-color:#fff;
    width: 400px;
    border-radius: 5px;
    padding: 60px;
}
h1{
    font-size: 25px;
    text-align: center;
}
.form-element input{
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
    background-color: #F8F8FB;
    border-radius: 3px;
    border: 1px solid #DADAF2;
}

.form-element input{
    padding-left: 15px;
}
.btn{
    width: 100%;
    height: 55px;
    background-color: #171645;
    color: #fff;
    border-radius: 3px;
}
h2{
    text-align: center;
    font-size: 15px;
    color: #171645;
    opacity: 0.5;
    padding: 20px;
}
.social input
 {
    width: 100%;
    height: 50px;
    background-color: #F8F8FB;
    border-radius: 3px;
    border: 1px solid #DADAF2;
    margin-bottom: 8px;

}
.social{
    position: relative;
}
.social img{
    position: absolute;
    left: 100px;
    top: 15px;

}


img{
    width: 20px;
}
p{
    text-align: center;
    
}